.hidden {
  display: none;
}

* {
  &:focus-within {
    outline: none !important;
  }
}

.form-group.has-error input:not(:focus) {
  background-image: url('https://design.swedbankpay.com/v/9.1.0/designguide/assets/warning.svg');
  background-position: calc(100% - 0.5rem) 50%;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  padding-right: 2.5rem;
}

.help-block {
  display: block;
  font-size: .875rem;
  line-height: 1rem;
  margin: 0.5rem 0;
  min-height: 1rem;
  position: relative;
  border-color: #c5131c;
  color: #c5131c;
}

body {
  background-color: rgba(254, 236, 190, .5) !important;
  width: 100%;
  height: 110% !important;
  padding-bottom: 50px !important;
}

.form {
  background-color: white !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 110%;
  justify-content: center;
  min-height: 9.5rem;
  padding: 2rem;
  position: relative;
  border: 1px solid #d4c4bc;
  border-radius: 2px 0;

  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px !important;
  padding: 2em;
  width: 500px;
  text-align: center;
}

.page-header {
  padding: 5px 30px;
  background-color: white;
  width: 100%;
  border: 1px solid gray;
}

.logo {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.h2 {
  text-align: left;
  margin-bottom: 34px !important;
}

.inline-input {
  display: flex;
  gap: 5px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &:focus-within {
    outline: none;
  }
}

.radio-list {
  margin: auto;
  justify-content: center;
  width: 120px;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.radio-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

legend {
  margin-top: 24px;
}

.buttons {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.checkbox {
  background-color: #fff;
  border: 2px solid #a38b80;
  border-radius: 2px;
  content: "";
  display: block;
  height: 1.375rem;
  left: -28px;
  position: absolute;
  top: 6px;
  visibility: visible;
  width: 1.375rem;
}

.form-control {
  width: 100% !important;
}

.slider-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  margin-bottom: 12px;
}

.slider {
  border-radius: 5px;
  display: block;
  height: 10px;
  width: 100%;
  accent-color: #ff9100;
}

.form {
  text-align: left;
}

.result-category {
  font-weight: bold;
  font-size: larger;
}